@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700,800&display=swap);
@font-face {
  font-family: "TCCC Unity Headline CYR";
  font-display: swap;
  src: url(../fonts/TCCC-UnityHeadline_CYR-Medium.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: "TCCC Unity";
  font-display: swap;
  src: url(../fonts/TCCCUnity-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: "TCCC Unity CYR";
  font-display: swap;
  src: url(../fonts/TCCC-UnityText_CYR-Medium.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-variant-numeric: lining-nums proportional-nums
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
input:focus,
textarea:focus {
  outline: 0
}
* {
  -webkit-tap-highlight-color: transparent
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Raleway,sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Raleway,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
details summary {
  list-style: none
}
details summary::-webkit-details-marker {
  display: none
}
input {
  border-radius: 0
}
input[type=search] {
  -webkit-appearance: none
}
body {
  background-color: #e62b29
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 86.1875rem;
  margin: 0 auto;
  padding: 0 .625rem
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  background-color: #f2f2f2;
  cursor: pointer;
  width: 100%;
  border-radius: .5rem;
  color: rgba(30,30,30,.4);
  font-family: Raleway,sans-serif;
  font-size: 1.375rem;
  font-weight: 500
}
._select-open:not(.select--show-top) .select__title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent
}
._select-open.select--show-top .select__title {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
  padding: 1.25rem 1.375rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  width: .8125rem;
  height: .475rem;
  flex-shrink: 0;
  background: url(../img/icons/chevron.svg) no-repeat center/contain;
  transition: all .3s
}
._select-open .select__value::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 21.6875rem
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: rgba(30,30,30,.4);
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 .5rem .5rem;
  min-width: 100%;
  left: 0;
  background-color: #f2f2f2;
  border-top: 0;
  padding: .625rem 0 .3125rem 0
}
._select-open:not(.select--show-top):not(.select_countries) .select__options {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent
}
.select--show-top._select-open:not(.select_countries) .select__options {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: .3125rem 1.375rem;
  color: inherit;
  font-size: 1.125rem
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select__asset {
  width: 1.25rem;
  height: 1.25rem
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem)
}
._select-tag {
  cursor: pointer
}
[data-showmore-button] span:last-child {
  display: none
}
._showmore-active [data-showmore-button] span {
  display: none
}
._showmore-active [data-showmore-button] span:last-child {
  display: block
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.footer__menu ul li a {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.contacts-footer__item a,
.footer__links a {
  text-decoration: underline;
  text-decoration-color: inherit;
  transition: text-decoration-color .3s
}
[hidden] {
  display: none!important
}
.header {
  padding: 1.6875rem 0;
  background-color: #fff;
  box-shadow: 0 .25rem 1.875rem 0 rgba(0,0,0,.1);
  z-index: 50;
  position: sticky;
  top: 0;
  left: 0
}
.header__container {
  display: flex;
  gap: 1.875rem;
  align-items: center
}
.header__logo {
  aspect-ratio: 200/37;
  min-height: 0;
  width: 12.5rem;
  position: relative;
  z-index: 2
}
.header__menu {
  flex-grow: 1
}
.menu {
  display: flex;
  justify-content: end
}
.menu__body {
  display: flex;
  gap: 1.875rem;
  align-items: center
}
.menu__body ul {
  display: flex;
  gap: 1.875rem;
  align-items: center
}
.menu__body ul li {
  color: #333;
  font-family: Barlow,sans-serif;
  font-weight: 500
}
.menu__body ul li a {
  transition: color .3s
}
.menu__lang {
  display: flex;
  gap: .75rem
}
.menu__lang:not(:last-child) {
  margin-bottom: 1.0625rem
}
.menu__lang a,
.menu__lang span {
  display: block;
  color: #333;
  font-weight: 500;
  line-height: 1.5;
  padding: .5rem;
  border-radius: .5625rem;
  border: .0625rem solid transparent;
  transition: all .3s
}
.menu__lang a.active,
.menu__lang span.active {
  color: #05f;
  border-color: #05f
}
.icon-menu {
  display: none
}
.footer {
  background-color: #203a72
}
.footer__top {
  padding: 3.125rem 0 2.625rem;
  display: flex;
  gap: 1.875rem 1.25rem;
  justify-content: space-between
}
.footer__body {
  display: flex;
  flex-direction: column
}
.footer__logo {
  width: 12.5rem;
  height: 2.34375rem
}
.footer__logo:not(:last-child) {
  margin-bottom: 1.34375rem
}
.footer__subtitle {
  color: #fff;
  font-family: Barlow,sans-serif;
  font-size: .8125rem;
  line-height: 1.5;
  text-transform: capitalize;
  max-width: 13.875rem
}
.footer__subtitle:not(:last-child) {
  margin-bottom: 1.625rem
}
.footer__content {
  display: flex;
  row-gap: 2.875rem
}
.footer__menu ul li {
  color: #fff;
  font-family: Barlow,sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5
}
.footer__menu ul li:not(:last-child) {
  margin-bottom: .8125rem
}
.footer__contacts {
  display: flex
}
.footer__bottom {
  padding: 1.0625rem 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
  flex-wrap: wrap
}
.footer__bottom::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .0625rem;
  width: 120vw
}
.footer__copy {
  color: #fff;
  flex-grow: 1
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 1.25rem 2.5rem
}
.footer__links a {
  color: #fff
}
.contacts-footer__title {
  color: #fff;
  font-family: Barlow,sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5
}
.contacts-footer__title:not(:last-child) {
  margin-bottom: 1.5625rem
}
.contacts-footer__item {
  display: flex;
  gap: .5rem
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 1rem
}
.contacts-footer__item svg {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0
}
.contacts-footer__item a,
.contacts-footer__item span {
  max-width: 11.25rem;
  color: #fff;
  line-height: 1.2
}
.button {
  color: #e62b29;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.125rem;
  text-align: center;
  border-radius: .375rem;
  border: .125rem solid #e62b29;
  transition: all .3s
}
.page-home__main {
  min-height: 100dvh;
  display: flex;
  align-items: center
}
.main {
  position: relative
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-45%,-48.329049%);
  transform: translate(-45%,-48.329049%);
  aspect-ratio: 2038/778;
  background: url(../img/main/top.svg) no-repeat center/contain;
  width: 100%;
  max-width: 127.375rem;
  max-height: 48.625rem
}
.main::after {
  content: "";
  aspect-ratio: 628/345;
  right: 31%;
  bottom: 0;
  position: absolute;
  background: url(../img/main/bottom.svg) no-repeat center/contain;
  width: 39.25rem;
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}
.main__container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: 1.25rem;
  max-width: 87.5rem
}
.main__body {
  display: flex;
  flex-direction: column
}
.main__title {
  color: #fff;
  font-family: "TCCC Unity CYR",sans-serif;
  font-weight: 600;
  line-height: 140%;
  position: relative;
  z-index: 2
}
.main__title span {
  text-transform: uppercase
}
.main__logo {
  aspect-ratio: 538/164;
  width: 100%;
  max-width: 33.625rem;
  position: relative;
  z-index: 2
}
.main__button {
  color: #000;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  aspect-ratio: 466/338;
  position: relative;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "TCCC Unity",sans-serif
}
.main__button span {
  position: relative;
  z-index: 2
}
.main__button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  height: 100%;
  transition: all .3s;
  -webkit-filter: drop-shadow(0 1rem .25rem rgba(0, 0, 0, .6));
  filter: drop-shadow(0 1rem .25rem rgba(0, 0, 0, .6))
}
.page-home__registration {
  min-height: 100dvh;
  display: flex;
  align-items: center
}
.registration {
  padding-bottom: .375rem;
  padding-top: 3.125rem;
  position: relative
}
.registration__puzzles {
  aspect-ratio: 655/164;
  margin: 0 -1.875rem;
  width: 100%
}
.registration__puzzles:not(:last-child) {
  margin-bottom: .8125rem
}
.registration__logo {
  aspect-ratio: 592/181
}
.registration__logo:not(:last-child) {
  margin-bottom: 2.5rem
}
.registration__image {
  aspect-ratio: 530/441
}
.registration__form {
  position: relative;
  max-width: 44.375rem
}
.registration__form::before {
  content: "";
  background: url(../img/registration/form-bg.svg) no-repeat top left/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 710/220;
  border-radius: 1rem 1rem 0 0
}
.registration__form>* {
  position: relative
}
.registration__form .select {
  max-width: 100%
}
.form-reg {
  border-radius: 1rem;
  background: #fff
}
.form-reg__title {
  color: #e62b29;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center
}
.form-reg__title:not(:last-child) {
  margin-bottom: 3.625rem
}
.form-reg__body {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem
}
.form-reg__field {
  display: flex;
  flex-direction: column;
  gap: .9375rem
}
.form-reg__label {
  color: #e62b29;
  font-size: 1rem;
  font-weight: 700
}
.form-reg__input {
  position: relative
}
.form-reg__input svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.375rem;
  width: 1.5625rem;
  height: 1.5625rem
}
.form-reg__input input {
  background: #f2f2f2;
  padding: 1.125rem 1.375rem 1.125rem 3.8125rem;
  border-radius: .5rem;
  color: rgba(30,30,30,.4);
  font-size: 1.375rem;
  font-weight: 500
}
.form-reg__input input::-webkit-input-placeholder {
  color: rgba(30,30,30,.4)
}
.form-reg__input input:-ms-input-placeholder {
  color: rgba(30,30,30,.4)
}
.form-reg__input input::-ms-input-placeholder {
  color: rgba(30,30,30,.4)
}
.form-reg__input input::placeholder {
  color: rgba(30,30,30,.4)
}
.form-reg__checkbox {
  color: #444;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  gap: .875rem;
  cursor: pointer;
  position: relative
}
.form-reg__checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0
}
.form-reg__checkbox::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  border: .0926875rem solid #e62b29;
  border-radius: .278rem
}
.form-reg__checkbox:has(input:checked)::before {
  background: url(../img/icons/check.svg) no-repeat center/65%
}
.form-reg__button {
  width: 100%
}
.page-home__game {
  min-height: 100dvh
}
.game {
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}
.game::before {
  content: "";
  background: url(../img/game/bg.webp) no-repeat top left/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .29;
  pointer-events: none
}
.game__container {
  position: relative
}
.game__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 31.8125rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 5.625rem 5rem;
  position: relative;
  overflow: hidden
}
.game__result::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 509/146;
  background: url(../img/game/decor.svg) no-repeat top left/cover
}
.game__field {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
  border: .3125rem solid #fff
}
.game__logo {
  aspect-ratio: 214/67;
  width: 13.375rem
}
.game__logo:not(:last-child) {
  margin-bottom: 2.4375rem
}
.game__title {
  color: #e62b29;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "TCCC Unity Headline CYR",sans-serif;
  text-transform: uppercase
}
.game__title:not(:last-child) {
  margin-bottom: 1.625rem
}
.game__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1875rem;
  font-family: "TCCC Unity Headline CYR",sans-serif;
  color: #e62b29;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase
}
.game__time span {
  font-size: 5.5rem
}
.game__time:not(:last-child) {
  margin-bottom: 2.125rem
}
.game__label {
  color: #e62b29;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3
}
.game__label:not(:last-child) {
  margin-bottom: 2.1875rem
}
.game__link {
  width: 100%;
  max-width: 13.875rem
}
@media (min-width:47.99875em)and (max-height:67.5em) {
  .main::before {
    max-width: 188.7vh!important;
    max-height: 65vh!important
  }
  .main::after {
    width: 58.15vh!important
  }
  .main__container {
    gap: 1.85vh!important;
    max-width: 129.63vh!important
  }
  .main__body {
    gap: 13.52vh!important
  }
  .main__title {
    font-size: 4.81vh!important
  }
  .main__title span {
    font-size: 5vh!important
  }
  .main__logo {
    max-width: 49.81vh!important
  }
  .main__button {
    padding-top: 10.65vh!important;
    padding-right: 8.15vh!important;
    padding-bottom: 12.69vh!important;
    padding-left: 9.44vh!important;
    font-size: 3.33vh!important;
    width: 43.15vh!important
  }
  .main__button svg {
    -webkit-filter: drop-shadow(0 1.48vh .37vh rgba(0, 0, 0, .6))!important;
    filter: drop-shadow(0 1.48vh .37vh rgba(0, 0, 0, .6))!important
  }
}
@media (min-width:47.99875em)and (max-height:67.5em)and (any-hover:hover) {
  .main__button:hover svg {
    -webkit-filter: drop-shadow(0 1vh .37vh rgba(0, 0, 0, .6))!important;
    filter: drop-shadow(0 1vh .37vh rgba(0, 0, 0, .6))!important
  }
}
@media (min-width:47.99875em) {
  .registration__container {
    display: grid;
    grid-template-columns: 655fr 710fr
  }
  .registration__body {
    padding: 0 1.875rem;
    padding-top: 5.0625rem
  }
  .registration__form {
    margin-bottom: 5.8125rem
  }
}
@media (min-width:47.99875em)and (min-width:86.1875em) {
  .registration__container {
    gap: 7.6875rem
  }
}
@media (min-width:56.24875em) {
  .menu__lang {
    display: none
  }
}
@media (min-width:86.1875em) {
  .footer__content {
    -webkit-column-gap: 6.375rem;
    -moz-column-gap: 6.375rem;
    column-gap: 6.375rem
  }
  .footer__contacts {
    gap: 3.6875rem
  }
  .main__body {
    gap: 9.125rem
  }
  .main__title {
    font-size: 3.25rem
  }
  .main__title span {
    font-size: 3.375rem
  }
  .main__button {
    padding-top: 7.1875rem
  }
  .main__button {
    padding-right: 5.5rem
  }
  .main__button {
    padding-bottom: 8.5625rem
  }
  .main__button {
    padding-left: 6.375rem
  }
  .main__button {
    font-size: 2.25rem
  }
  .main__button {
    width: 29.125rem
  }
  .form-reg {
    padding-top: 6.125rem
  }
  .form-reg {
    padding-bottom: 8.5625rem
  }
  .form-reg {
    padding-left: 7.125rem
  }
  .form-reg {
    padding-right: 7.125rem
  }
  .form-reg__title {
    font-size: 3.4375rem
  }
}
@media (max-width:56.24875em) {
  .menu__body ul {
    flex-direction: column;
    gap: 1.25rem
  }
  .menu__body {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: calc(var(--header-height) + 1.875rem) 1.25rem 2.8125rem 1.875rem;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    flex-direction: column;
    gap: 1.6875rem;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: #fff;
    max-height: 100%
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: var(--header-height);
    left: 0;
    top: 0;
    z-index: 2;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0 .25rem 1.875rem 0 rgba(0,0,0,.1)
  }
  .menu-open .menu__body {
    -webkit-transform: none;
    transform: none
  }
  .menu-open .menu__body::before {
    visibility: visible
  }
  .menu__body .select_lang {
    display: none
  }
  .menu__button {
    width: 100%;
    max-width: 25rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #05f
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:56.24875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  .select__title {
    font-size: 1rem
  }
  .select__value {
    padding: 1.1875rem 1.375rem
  }
  .header {
    padding: 1rem 0
  }
  .header__logo {
    width: 8rem
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0 3.125rem
  }
  .footer__body {
    align-items: center
  }
  .footer__subtitle {
    text-align: center
  }
  .footer__content {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .footer__menu ul li:not(:last-child) {
    margin-bottom: .9375rem
  }
  .footer__contacts {
    gap: 1.25rem
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0
  }
  .footer__bottom::before {
    width: 100%
  }
  .footer__copy {
    font-size: .875rem;
    text-align: center
  }
  .footer__links a {
    font-size: .875rem
  }
  .contacts-footer__item a,
  .contacts-footer__item span {
    font-size: .875rem
  }
  .button {
    font-size: 1rem
  }
  .main {
    padding-top: 10.375rem;
    padding-bottom: 3.25rem
  }
  .main::before {
    background-image: url(../img/main/top-mobile.svg);
    width: 100%;
    aspect-ratio: 375/166;
    -webkit-transform: none;
    transform: none;
    left: 0;
    max-width: 23.4375rem
  }
  .main::after {
    width: 82.666667%;
    -webkit-transform: translate(-22.580645%,35.66879%);
    transform: translate(-22.580645%,35.66879%)
  }
  .main__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3.9375rem
  }
  .main__body {
    gap: 3.8125rem;
    flex-direction: column-reverse;
    position: relative;
    align-items: center
  }
  .main__body::before {
    content: "";
    position: absolute;
    top: 0;
    left: -.625rem;
    opacity: .26;
    width: calc(100% + 1.25rem);
    background: url(../img/main/middle.svg) no-repeat center/cover;
    aspect-ratio: 375/362;
    -webkit-transform: translateY(-13.535912%);
    transform: translateY(-13.535912%)
  }
  .main__title {
    text-align: center
  }
  .main__logo {
    max-width: 20.9375rem
  }
  .registration {
    padding-top: 6.75rem;
    padding-bottom: 10rem
  }
  .registration__puzzles {
    position: absolute;
    top: 0;
    left: 50%;
    width: 22.1875rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0
  }
  .registration__logo {
    position: absolute;
    top: 1.0625rem;
    left: 50%;
    width: 8.1875rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0
  }
  .registration__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 14.9375rem;
    -webkit-transform: translate(-50%,34.759358%);
    transform: translate(-50%,34.759358%)
  }
  .form-reg {
    padding-top: 2.5rem
  }
  .form-reg {
    padding-bottom: 2.625rem
  }
  .form-reg {
    padding-left: 1.25rem
  }
  .form-reg {
    padding-right: 1.25rem
  }
  .form-reg__title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .form-reg__input input {
    font-size: 1rem
  }
  .game__result {
    padding: 5.625rem 1.25rem
  }
  .game__logo:not(:last-child) {
    margin-bottom: 1.9375rem
  }
  .game__title:not(:last-child) {
    margin-bottom: 1.9375rem
  }
  .game__time:not(:last-child) {
    margin-bottom: 1.9375rem
  }
  .game__label:not(:last-child) {
    margin-bottom: 1.9375rem
  }
}
@media (max-width:37.49875em) {
  .footer__content {
    flex-direction: column;
    align-items: center
  }
  .footer__menu ul li {
    text-align: center
  }
  .footer__links {
    flex-direction: column
  }
  .footer__links a {
    text-align: center
  }
}
@media (max-width:28.12375em) {
  .footer__contacts {
    flex-direction: column;
    row-gap: 3.125rem
  }
  .contacts-footer__title {
    text-align: center
  }
}
@media (max-width:23.4375em) {
  .main__title {
    font-size: 1.25rem
  }
  .main__title span {
    font-size: 2.875rem
  }
  .main__button {
    padding-top: 2.8125rem
  }
  .main__button {
    padding-right: 2.1875rem
  }
  .main__button {
    padding-bottom: 3.125rem
  }
  .main__button {
    padding-left: 2.5625rem
  }
  .main__button {
    font-size: 1.125rem
  }
  .main__button {
    width: 14.375rem
  }
  .form-reg__title {
    font-size: 2.5rem
  }
}
@media (min-width:47.99875em)and (max-width:86.1875em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,-5.1915199175rem + 13.4201826454vw ,6.375rem)) or (column-gap:clamp(1.25rem ,-5.1915199175rem + 13.4201826454vw ,6.375rem))) {
    .footer__content {
      -webkit-column-gap: clamp(1.25rem ,-5.1915199175rem + 13.4201826454vw ,6.375rem);
      -moz-column-gap: clamp(1.25rem ,-5.1915199175rem + 13.4201826454vw ,6.375rem);
      column-gap: clamp(1.25rem ,-5.1915199175rem + 13.4201826454vw ,6.375rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-5.1915199175rem + 13.4201826454vw ,6.375rem)) or (column-gap:clamp(1.25rem ,-5.1915199175rem + 13.4201826454vw ,6.375rem))) {
    .footer__content {
      -webkit-column-gap: calc(1.25rem + 5.125*(100vw - 47.99875rem)/ 38.18875);
      -moz-column-gap: calc(1.25rem + 5.125*(100vw - 47.99875rem)/ 38.18875);
      column-gap: calc(1.25rem + 5.125*(100vw - 47.99875rem)/ 38.18875)
    }
  }
  @supports (gap:clamp(1.25rem ,-1.8136497169rem + 6.3827697948vw ,3.6875rem)) {
    .footer__contacts {
      gap: clamp(1.25rem ,-1.8136497169rem + 6.3827697948vw ,3.6875rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-1.8136497169rem + 6.3827697948vw ,3.6875rem)) {
    .footer__contacts {
      gap: calc(1.25rem + 2.4375*(100vw - 47.99875rem)/ 38.18875)
    }
  }
  @supports (gap:clamp(3.8125rem ,-2.8646852804rem + 13.9111649373vw ,9.125rem)) {
    .main__body {
      gap: clamp(3.8125rem ,-2.8646852804rem + 13.9111649373vw ,9.125rem)
    }
  }
  @supports not (gap:clamp(3.8125rem ,-2.8646852804rem + 13.9111649373vw ,9.125rem)) {
    .main__body {
      gap: calc(3.8125rem + 5.3125*(100vw - 47.99875rem)/ 38.18875)
    }
  }
  @supports (padding-top:clamp(2.5rem ,-2.0561970148rem + 9.4923243102vw ,6.125rem)) {
    .form-reg {
      padding-top: clamp(2.5rem ,-2.0561970148rem + 9.4923243102vw ,6.125rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,-2.0561970148rem + 9.4923243102vw ,6.125rem)) {
    .form-reg {
      padding-top: calc(2.5rem + 3.625*(100vw - 47.99875rem)/ 38.18875)
    }
  }
  @supports (padding-bottom:clamp(2.625rem ,-4.8377364898rem + 15.547772577vw ,8.5625rem)) {
    .form-reg {
      padding-bottom: clamp(2.625rem ,-4.8377364898rem + 15.547772577vw ,8.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(2.625rem ,-4.8377364898rem + 15.547772577vw ,8.5625rem)) {
    .form-reg {
      padding-bottom: calc(2.625rem + 5.9375*(100vw - 47.99875rem)/ 38.18875)
    }
  }
  @supports (padding-left:clamp(1.25rem ,-6.1341813689rem + 15.384111813vw ,7.125rem)) {
    .form-reg {
      padding-left: clamp(1.25rem ,-6.1341813689rem + 15.384111813vw ,7.125rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-6.1341813689rem + 15.384111813vw ,7.125rem)) {
    .form-reg {
      padding-left: calc(1.25rem + 5.875*(100vw - 47.99875rem)/ 38.18875)
    }
  }
  @supports (padding-right:clamp(1.25rem ,-6.1341813689rem + 15.384111813vw ,7.125rem)) {
    .form-reg {
      padding-right: clamp(1.25rem ,-6.1341813689rem + 15.384111813vw ,7.125rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,-6.1341813689rem + 15.384111813vw ,7.125rem)) {
    .form-reg {
      padding-right: calc(1.25rem + 5.875*(100vw - 47.99875rem)/ 38.18875)
    }
  }
}
@media (min-width:23.4375em)and (max-width:86.1875em) {
  @supports (font-size:clamp(1.25rem ,0.5029880478rem + 3.187250996vw ,3.25rem)) {
    .main__title {
      font-size: clamp(1.25rem ,.5029880478rem + 3.187250996vw ,3.25rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.5029880478rem + 3.187250996vw ,3.25rem)) {
    .main__title {
      font-size: calc(1.25rem + 2*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (font-size:clamp(2.875rem ,2.688247012rem + 0.796812749vw ,3.375rem)) {
    .main__title span {
      font-size: clamp(2.875rem ,2.688247012rem + .796812749vw ,3.375rem)
    }
  }
  @supports not (font-size:clamp(2.875rem ,2.688247012rem + 0.796812749vw ,3.375rem)) {
    .main__title span {
      font-size: calc(2.875rem + .5*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (padding-top:clamp(2.8125rem ,1.1784113546rem + 6.9721115538vw ,7.1875rem)) {
    .main__button {
      padding-top: clamp(2.8125rem ,1.1784113546rem + 6.9721115538vw ,7.1875rem)
    }
  }
  @supports not (padding-top:clamp(2.8125rem ,1.1784113546rem + 6.9721115538vw ,7.1875rem)) {
    .main__button {
      padding-top: calc(2.8125rem + 4.375*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (padding-right:clamp(2.1875rem ,0.9502614542rem + 5.2788844622vw ,5.5rem)) {
    .main__button {
      padding-right: clamp(2.1875rem ,.9502614542rem + 5.2788844622vw ,5.5rem)
    }
  }
  @supports not (padding-right:clamp(2.1875rem ,0.9502614542rem + 5.2788844622vw ,5.5rem)) {
    .main__button {
      padding-right: calc(2.1875rem + 3.3125*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.094061255rem + 8.6653386454vw ,8.5625rem)) {
    .main__button {
      padding-bottom: clamp(3.125rem ,1.094061255rem + 8.6653386454vw ,8.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.094061255rem + 8.6653386454vw ,8.5625rem)) {
    .main__button {
      padding-bottom: calc(3.125rem + 5.4375*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (padding-left:clamp(2.5625rem ,1.1385084661rem + 6.0756972112vw ,6.375rem)) {
    .main__button {
      padding-left: clamp(2.5625rem ,1.1385084661rem + 6.0756972112vw ,6.375rem)
    }
  }
  @supports not (padding-left:clamp(2.5625rem ,1.1385084661rem + 6.0756972112vw ,6.375rem)) {
    .main__button {
      padding-left: calc(2.5625rem + 3.8125*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.7048057769rem + 1.7928286853vw ,2.25rem)) {
    .main__button {
      font-size: clamp(1.125rem ,.7048057769rem + 1.7928286853vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.7048057769rem + 1.7928286853vw ,2.25rem)) {
    .main__button {
      font-size: calc(1.125rem + 1.125*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (width:clamp(14.375rem ,8.8657868526rem + 23.5059760956vw ,29.125rem)) {
    .main__button {
      width: clamp(14.375rem ,8.8657868526rem + 23.5059760956vw ,29.125rem)
    }
  }
  @supports not (width:clamp(14.375rem ,8.8657868526rem + 23.5059760956vw ,29.125rem)) {
    .main__button {
      width: calc(14.375rem + 14.75*(100vw - 23.4375rem)/ 62.75)
    }
  }
  @supports (font-size:clamp(2.5rem ,2.1498381474rem + 1.4940239044vw ,3.4375rem)) {
    .form-reg__title {
      font-size: clamp(2.5rem ,2.1498381474rem + 1.4940239044vw ,3.4375rem)
    }
  }
  @supports not (font-size:clamp(2.5rem ,2.1498381474rem + 1.4940239044vw ,3.4375rem)) {
    .form-reg__title {
      font-size: calc(2.5rem + .9375*(100vw - 23.4375rem)/ 62.75)
    }
  }
}
@media (min-width:47.99875em)and (min-width:47.99875em)and (max-width:86.1875em) {
  @supports (gap:clamp(1.25rem ,-6.8411774574rem + 16.8570586887vw ,7.6875rem)) {
    .registration__container {
      gap: clamp(1.25rem ,-6.8411774574rem + 16.8570586887vw ,7.6875rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-6.8411774574rem + 16.8570586887vw ,7.6875rem)) {
    .registration__container {
      gap: calc(1.25rem + 6.4375*(100vw - 47.99875rem)/ 38.18875)
    }
  }
}
@media (min-width:47.99875em)and (max-width:47.99875em) {
  .registration__container {
    gap: 1.25rem
  }
}
@media (any-hover:hover) {
  .select__option:hover {
    background: #d9d9d9
  }
  .footer__menu ul li a:hover {
    text-decoration-color: inherit
  }
  .contacts-footer__item a:hover,
  .footer__links a:hover {
    text-decoration-color: transparent
  }
  .menu__body ul li a:hover {
    color: #05f
  }
  .button:hover {
    background-color: #e62b29;
    color: #fff
  }
  .main__button:hover svg {
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-filter: drop-shadow(0 .625rem .25rem rgba(0, 0, 0, .6));
    filter: drop-shadow(0 .625rem .25rem rgba(0, 0, 0, .6))
  }
}